 <!-- Navigation -->
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #C45525;" id="mainNav">

        <a class="navbar-brand js-scroll-trigger" href="/"><img src="{% static 'img/logo.png' %}" height="30" width="30" title="Accueil"></a>Pur Beurre
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Chercher" aria-label="Search">
            </form>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'web_app:login' %}"><img src="{% static 'img/compte.png' %}" height="30" width="30" title="Mon compte"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href=""><img src="{% static 'img/carrot.png' %}" height="30" width="30" title="Mes aliments"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href=""><img src="{% static 'img/logout.png' %}" height="30" width="30" title="Déconnexion"></a>
            </li>
            <li>
              <a class="nav-link js-scroll-trigger" href="{% url 'web_app:register' %}"><img src="{% static 'img/registration.png' %}" height="30" width="30" title="S'enregisrer"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>